
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Dict</title>
</head>
<body>
    <div class="container">
        <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:18%">
            <h3 class="w3-bar-item">Option</h3>
            <a href="@Url.Action("Add2Dictionary", "Dictionary")"
               class="w3-bar-item w3-button">Add one item to Dictionary</a>
            <a href="@Url.Action("AddBiglist", "Dictionary")"
               class="w3-bar-item w3-button">Add Huge List of Items to Dictionary</a>
            <a href="@Url.Action("Display", "Dictionary")"
               class="w3-bar-item w3-button">Display Dictionary</a>
            <a href="@Url.Action("DeleteDictionary", "Dictionary")"
               class="w3-bar-item w3-button">Delete from Dictionary</a>
            <a href="@Url.Action("Clear", "Dictionary")"
               class="w3-bar-item w3-button">Clear Dictionary</a>
            <a href="@Url.Action("Search", "Dictionary")"
               class="w3-bar-item w3-button">Search Stack</a>
            <a href="@Url.Action("Menu", "Dictionary")"
               class="w3-bar-item w3-button">Return to Main Menu</a>
        </div>
        <div style="margin-left:18%">
            <div class="w3-container w3-blue-grey">
                <h1>Dictionary</h1>
            </div>
            <div class="w3-body">
                @ViewBag.localButton
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</body>
